<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorUi
            class="org.eclipse.mylyn.ditz.ui.DitzRepositoryConnectorUi"
            id="org.eclipse.mylyn.ditz.ui.DitzRepositoryConnectorUi">
      </connectorUi>
      <connectorCore
            class="org.eclipse.mylyn.ditz.core.DitzRepositoryConnector"
            name="org.eclipse.mylyn.ditz.core.DitzRepositoryConnector">
      </connectorCore>
   </extension>

</plugin>
